

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>

<script>
    function preLoad() {
    a1 = new Image; a1.src = '../assets/img/bast_img/image_test.jpg';  
    a2 = new Image; a2.src = '../assets/img/images.jpg';
    }

    function changeImage() {
        genre = document.getElementById("movie_genre").value;
        window = document.getElementById("window").value;
        time = document.getElementById("time").value;
        let image = document.querySelector('#img')
        image.setAttribute('src', '../assets/img/bast_img/+'time+'count'+movie_genre+window+'.png')
        //eval(im+".png");
}
</script>   
</head>

<body onLoad= "preLoad()">

hello world
<br>
<form autocomplete="off">
    <fieldset>
        <legend>Image</legend>
        <label for="img">Image</label><br>
        <input type="radio" id = "time" name="time" checked>tot
        <input type="radio" id = "time" name="time">WWII
        <input type="radio" id = "time" name="time">Vietnam
        <input type="radio" id = "time" name="time">Iraq   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Window
        <input type="range" id="window" name="window" min ="2" max ="10" step ="2" oninput="this.nextElementSibling.value = this.value">
        <output>6</output>&nbsp;&nbsp;&nbsp;
        <br>
        <input type="radio" id = "movie_genre" name="movie_genre" checked>war
        <input type="radio" id = "movie_genre" name="movie_genre">action
        <input type="radio" id = "movie_genre" name="movie_genre">comedy
        <br>
        <output>changeImage()</output>
        <input type="button" onclick="changeImage()" value= "go">
</form><br>
<br>
<img id ="img" src = "../assets/img/bast_img/image_test.jpg" width = "400"><br>
</body>

</html>
