

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>

<script>

    function changeImage(Form) {
        genre = document.querySelector("#movie_genre").value;
        window = document.querySelector("#window").value;
        time = document.querySelector("#time").value;
        let image = document.querySelector('#img')
        image.setAttribute('src', "assets/img/bast_img/"+"WWII"+"countwar10.png")
    }
</script>   
</head>

<body>
    hello ux
<br>
    <img id ="img" src = "assets/img/bast_img/image_test.jpg" width = "400" alt="The head and torso of a dinosaur skeleton;
          it has a large head with long sharp teeth"><br>
<form action="#" onsubmit="changeImage(this);">
    <fieldset>
        <legend>Image</legend>
        <label for="img">Image</label><br>
        <input type="radio" id = "time" name="time" checked>tot
        <input type="radio" id = "time" name="time">WWII
        <input type="radio" id = "time" name="time">Vietnam
        <input type="radio" id = "time" name="time">Iraq   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Window
        <input type="range" id="window" name="window" min ="2" max ="10" step ="2" oninput="this.nextElementSibling.value = this.value">
        <output>6</output>&nbsp;&nbsp;&nbsp;
        <br>
        <input type="radio" id = "movie_genre" name="movie_genre" checked>war
        <input type="radio" id = "movie_genre" name="movie_genre">action
        <input type="radio" id = "movie_genre" name="movie_genre">comedy
        <br>
        <input type="submit" value= "go">
     </fieldset>
</form> 
<br>
<br>
</body>

</html>
